{{ define "main" }}
<article class="container p-4 mx-auto mb-8">
    <h1 class="mb-4 text-4xl font-bold tracking-tight">{{ .Title }}</h1>
    <h2 class="mb-4 text-lg text-gray-600 uppercase">{{ dateFormat "2 January 2006" .Date }}</h2>
    <div class="flex flex-row justify-start mb-4 space-x-2">
        {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">
                <span class="px-2 py-1 text-base font-bold text-white uppercase bg-gray-600 rounded">{{ .LinkTitle }}</span>
            </a>
        {{ end }}
    </div>
    <div class="prose prose-lg">
        {{ .Content }}
    </div>
</article>
{{ end }}
