<section class="container flex flex-col px-4 pb-16 mx-auto mb-8 border-b md:space-x-8 md:flex-row space-y-8 md:space-y-0 md:pb-16 max-w-screen-lg">
    <div class="order-first md:order-last md:w-1/2">
        <div class="aspect-w-6 aspect-h-6">
            <img class="rounded-lg" alt="" src="/P1170947.jpg" />
        </div>
    </div>
    <div class="flex flex-col md:w-1/2 space-y-4">
    <h1 class="text-4xl font-semibold tracking-tight text-gray-900 md:text-5xl">Who am I?</h1>
    <p class="pb-8 text-xl font-light">fdjgs fdjsk ghfdkjs gkfd sgkjdfhgjkfdgkjfd kgjfdhk jsghfkjdshgkfjdsgkjfdshg fdk</p>
    <a class="self-center w-2/3 px-8 py-2 text-base text-center text-white uppercase bg-gray-700 rounded-lg focus-visible:ring-2 focus-visible:ring-gray-500 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-500 focus:outline-none hover:bg-gray-500" href="/pages/about">About me</a>
    </div>
</section>
