<div class="overflow-hidden text-gray-700 rounded shadow-lg">
    <a href="{{ .RelPermalink }}">
        <div class="aspect-w-9 aspect-h-6">
            <img class="filter grayscale" alt="{{ .Title }}" src="{{ .Params.image }}" />
        </div>
    </a>
    <div class="flex flex-col p-4 mb-2 space-y-4">
            <h2 class="text-2xl font-semibold tracking-tight">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            <p class="text-lg">{{ .Params.summary }}</p>
            <div class="flex flex-row flex-wrap gap-2">
                {{ range (.GetTerms "tags") }}
                    <a href="{{ .Permalink }}">
                        <span class="px-2 py-1 text-xs text-white text-gray-700 uppercase bg-gray-200 rounded">{{ .LinkTitle }}</span>
                    </a>
                {{ end }}
            </div>
    </div>
</div>

