{{- $svgPath := "svg/heroicons/optimized/outline" -}}
{{- $menuIconPath := printf "%s/%s" $svgPath "menu.svg" -}}
{{- $closeIconPath := printf "%s/%s" $svgPath "x.svg" -}}
<header x-cloak x-data="{ menuIsOpen: false }" class="mb-8 text-gray-900 bg-white shadow-sm">
    <div class="container flex flex-row items-center justify-between px-4 mx-auto text-xl font-medium max-w-screen-lg">
        <div>
            <a href="/">
                {{ partial "logo.html" . }}
            </a>
        </div>
        <nav class="hidden px-8 py-4 lg:block">
            <ul>
                {{- partial "nav.html" (dict "class" "flex flex-row text-lg space-x-8" "showTags" false) -}}
            </ul>
        </nav>

        <div x-cloak class="w-8 h-8 lg:hidden" @click="menuIsOpen = !menuIsOpen">
            {{ $menuIcon := resources.Get $menuIconPath }}
            {{ $menuIcon.Content | safeHTML }}
        </div>
    </div>

    {{- partial "menu.html" (dict "closeIconPath" $closeIconPath) -}}

</header>

