<header class="container flex flex-row justify-between p-4 mx-auto mb-4 text-xl font-medium bg-green-50">
    <div>
        <a href="/">
            <p class="py-4 text-5xl font-black tracking-tight">CodingSkills</p>
        </a>
        <!--
        <p class="text-xs tracking-tight uppercase">A blog by Jim McCormick</p>
        -->
    </div>
    <!--
    <nav>
        <ul class="text-lg text-right">
            <li><a href="">Writing</a></li>
            <li><a href="">Newsletter</a></li>
            <li><a href="">Topics</a></li>
        </ul>
    </nav>
    -->
</header>

