<div x-show="menuIsOpen" x-transition class="absolute top-0 left-0 z-20 w-screen h-screen bg-gray-50">
    <div class="flex flex-row justify-between p-4 pl-8 mb-8">
        <h1 class="text-2xl">Menu</h1>
        <div class="w-8 h-8" @click="menuIsOpen = !menuIsOpen">
            {{- $closeIcon := resources.Get .closeIconPath -}}
            {{- $closeIcon.Content | safeHTML -}}
        </div>
    </div>
    <nav class="px-8 py-4">
        {{- partial "nav.html" (dict "class" "text-lg space-y-4" "showTags" true) -}}
    </nav>
</div>

