{{- $class := .class -}}
{{- $showTags := .showTags -}}
<ul class="{{ $class }}">
    {{- range site.Menus.main -}}
        <li><a class="hover:underline" href="{{ .URL }}">{{ .Name }}</a></li>
    {{- end -}}
    {{- with $showTags -}}
    <li>
        <ul class="pl-8 space-y-2">
            {{- range $name, $taxonomy := site.Taxonomies.tags -}}
            <li>
                <a class="hover:underline" href="{{ printf "/tags/%s" $name }}">
                    {{ humanize $name }}
                </a>
            </li>
            {{- end -}}
        </ul>
    </li>
    {{- end -}}
</ul>

