{{- $global := .Site.Data.global -}}
{{- $class := $global.config.class.section -}}

{{- $params := .Params -}}
{{- $key := $params.key -}}
{{- $block := index .Site.Data.blocks $key -}}

{{- with $block.config.class.section -}}
    {{- $class = . -}}
{{- end -}}

<section data-block="{{ $key }}" class="{{- $class -}}">
    {{- with $block.config.partial -}}
        {{- $partial := .path -}}
        {{- partial $partial (dict "block" $block "params" $params "global" $global) -}}
    {{- end -}}
</section>

